{% extends "base.html" %}
{% load static %}
{% block body %}

	{% include "menu.html" %}
    <div style="margin-left: 250px; padding: 20px;">
        <h1>Welcome to the Website</h1>
        <p>This is the main content area of your website.</p>
        <img src={% static 'img/more-services-2.jpg' %} />

        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            {% if not request.session.name %}
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required><br>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required><br>
                    <input type="submit" value="Login">

                {% else %}
                    <a href="{% url 'logout' %}">Logout</a>
                    {% include "session_info.html" %}
            {% endif %}
        </form>
    </div>
{% include "tail.html" %}
{% endblock %}
