{% extends "base.html" %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script>

      funtion croll(){
        document.getElementById("frmAlbum").submit();
      }
      try{
      document.getElementById('currnetMonth').value= new Date().toISOString().slice(0, 7);

      }catch(err){
   //     alert(err);
      }
    </script>
{% endblock %}

{% block body %}
<div id="top_menu">
    {% include "menu.html" %}
</div>
    <!-- ======= Breadcrumbs ======= -->
<div id="main_div">
   <h5> HOME > {{ bo_type }} > {{ sub_menu_title }} </h5>
    `<main>
  <script type="text/javascript">
  <!--
	function sendData(){

        document.getElementById("form1").submit();
	}
  //-->
  </script>
                <div style="margin:0px;text-align:right;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <form action="croll" action="scroll" method="post" id="form1">
                            {% csrf_token %}
                        <tr style="border-top:solid 1px #dddddd;">
                                <td width="100%" align="right"><input type="input" name="query" id="query" style="width:30%;">
                                    <button class="btn btn-outline-success my-2 my-sm-0" id="btn1" style="margin-right:10px;" >크롤링 데이타 생성</button>
                            </td>
                        </tr>
                        </form>
                    </table>
                </div>

python manage.py inspectdb --database=sqlite > scroll/models.py

    </main><!-- End #main -->
</div><!-- main div End -->
{% include "tail.html" %}
{% endblock %}
